body,html{
    box-sizing: border-box;
}
button{
    outline: 0;
}
.item-card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    margin-top: 0.55em;
    flex-direction: column;
    border-radius: 1em;
    transition: box-shadow 0.75s ease-in-out;
    padding-top: 1em;
    margin-top: 1.5vw;
    padding-bottom: 1em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    margin-bottom: 1.5vw;
}
.item-card:hover{
    box-shadow: 0.3em 0.3em 0.9em gray;
}
.card-title{
    font-family: sans-serif;
    font-weight: 600;
    font-size: min(1.4em,3em);
    margin-bottom: 1em;
    margin-top: 0.6em;
}
.card-img{
    width: 100%;
}
.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.price-button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.price{
    font-weight: 900;
    font-size: min(1.3em,4vw);
    float: left;
    position: relative;
    top: 0.6em;
    left: -1vw;
}
.add-btn{
    border: 0;
    padding: 0.6em 1.2em 0.6em 1.2em;
    border-radius: 1em;
    font-size: min(1.2em,4vw);
    width: max(20vw,15em);
    background: #E7D2CC;
    transition: box-shadow 0.5s ease-in;
    margin-top: 1em;
}
.add-btn:hover{
    box-shadow: 0.3em 0.3em 0.6em gray;
}
.bag{
    height: min(1.6rem,4vw);
    margin: 0;
    padding: 0;
}
.card-description{
    width: 100%;
    font-weight: 600;
    margin-left: 0.5em;
    text-align: left;
    margin-bottom: 3em;
    font-size: min(1em,2.5vw);
}
.quantity{
    width: 100%;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    margin-left: 0.5em;
}
.quantity input{
    border-radius: 0.5em;
    font-size: 1.2em;
    border: 0.1em solid gray;
    padding-left: 0.5em;
    width: 4em;
    height: 1.5em;
    outline: 0;
    text-align: center;

}