.checkout{
    float: right;
}
.back{
    margin: 0;
    height: min(3em,9vw);
    width: min(3em,9vw);
    margin-bottom: 0.3em;
    margin-left: 1em;
    position: relative;
    top: 3rem;
}
.back:hover{
    margin: 0;
    height: 3.3em;
    width: 3.3em;
    margin-left: 0.8em;
}
  .cart-product-list{
      display: grid;
      grid-template-columns: auto auto auto;
  }
  .cart-head{
      text-align: center;
      width: 80%;
      position: relative;
      font-size: min(1.5em,3.5vw);
      left: max(6.5vw,4rem);
      top: 1vw;
    }
    .stripe-btn{
        border: 0;
        padding: 0.8rem 1.5rem 0.8rem 1.5rem;
        border-radius: 3vw;
        background: #5D6C89;
        color: #fff;
        font-size: max(1em,1vw);
    }
    .checkout-load{
        color: #5d6c89;
    }
    .checkout{
        text-align: center;
        font-size: min(1em,2vw);
    }