body,html{
    box-sizing: border-box;
}
.grid-container2{
    width: 100%;
    background: #EEEDE7;
    border-radius: 2em;
    transition: box-shadow 0.75s linear;
    margin-top: 1em;
}
.grid-container2:hover{
    box-shadow: 0.9em 0.9em 1.8em gray;
}
.product-list{
    width: 97%;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 1vw;
    padding-bottom: 1rem;
    margin-right: 1.5rem;
    display: grid;
    grid-template-columns: 31.7vw 31.7vw 31.7vw;
    grid-gap: 0.8em;
}
@media only screen and (max-width: 1100px) {
    [class*="product-list"] {
      grid-template-columns: auto auto;
    }
    [class*="item-card"] {
        width: 100%;
      }

  }
  @media only screen and (max-width: 600px) {
    [class*="product-list"] {
      grid-template-columns: auto;
    }
  }
.main-head{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1em;
    color: #868B8E;
}
.back{
    margin: 0;
    height: min(3em,9vw);
    width: min(3em,9vw);
    margin-bottom: 0.3em;
    margin-left: 1em;
    position: relative;
    top: 3rem;
}
.back:hover{
    margin: 0;
    height: 3.3em;
    width: 3.3em;
    margin-left: 0.8em;
}